body {
  overflow: hidden;
  background-color: black;
  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // IE10+/Edge
  user-select: none; // Standard

  > .score {
    position: absolute;
    top: calc(12.5vh + 20px);
    left: calc(5% + 20px);
    font-family: $amiko;
    font-size: 12px;
    color: white;
  }
}

h1, #high-score {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgba(0,0,0,0.1);
}

h1 {
  top: 4vh;
  font-size: 20px;
  line-height: 4vh;
}

#run {
  margin-left: 1px;
  color: hsl(0, 100%, 50%);
}

#high-score {
  top: 8vh;
  font-size: 14px;
  line-height: 2vh;
}

#links {
  position: absolute;
  top: 7vh;
  right: 5%;
  transform: translateY(-50%);

  > a:not(:first-child) { margin-left: 10px; }
  
  img {
    height: 20px;
    padding: 3px;
    filter: brightness(0) invert(1);

    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      filter: brightness(0) invert(0.7);
      transform: scale(1.1);
    }
  }
}

canvas {
  position: absolute;
  top: 55vh; left: 50%;
  transform: translate(-50%, -50%);

  height: 85vh;
  width: 90%;

  background-color: black;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 5px;
}

#current-score { display: none; }