.modal {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  height: 200px;
  width: 300px;
  border-radius: 5px;
  background-color: whitesmoke;

  > p {
    width: 100%;
    font-family: $amiko;
    text-align: center;
  }

  > button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;
    font-family: $amiko;
    font-size: 14px;
    color: $dark-grey-0;
    background-color: $light-grey-0;
    border: 1px solid $grey-0;
    border-radius: 3px;

    cursor: pointer;
    transition: background-color 0.2s;

    &:hover{ background-color: $light-grey-1; }
  }
}

#start {
  height: 140px;
  animation: fade-in 0.3s;
  
  > p {
    font-size: 14px;
    margin: 35px 0px 10px;
  }
}

#restart {
  animation: pop-up 0.4s;

  > .score {
    font-size: 14px;
    margin: 55px 0px 20px;
  }

  > button + p {
      letter-spacing: 1px;
      margin-top: 11px;
      color: $grey-1;
    }
}