html, body { height: 100%; width: 100%; }

html, body, canvas, h1, button, p, a {
  margin: 0;
  padding: 0;
  font-family: $ovo;
  font-size: 10px;
  font-weight: normal;
  border: none;
  background-color: transparent;
  text-decoration: none;
}